<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery/jquery.js}"  type="text/javascript"></script>
    <link th:href="@{/css/booststrap/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/js/booststrap/bootstrap.bundle.js}" type="text/javascript"></script>
</head>
<body>

<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark text-bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cibertec</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Index</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Operaciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/auth/cambiar-password}">Cambiar Password</a></li>
                        <li><a class="dropdown-item" th:href="@{/programatv/home}">Mantenimiento</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>